/* first page */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.first3 {
  align-items: center;
  border-radius: 0.2rem;
  color: var(--tex-color);
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.divground {
  background-color: #ada4a2;
  transform: skewX(-20deg);
}

.start-button {
  background: #ada4a2;
  border: none;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.2rem;
  font-size: 3rem;
  cursor: pointer;
  color: var(--tex-color);
  transform: skewX(-20deg);
  font-family: var(--font-family);
  margin-top: 0.8rem;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.postion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.start-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: skewX(-30deg);
}

.first3:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: skewX(-30deg);
}

/* second page */

.hidden {
  display: none;
}

.flex-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 97vw;
  height: 90vh;
  gap: 1rem;
}

/* page left section (inventory) */
.left-section {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 90vh;
  gap: 1rem;
  padding-top: 0.5rem;
}

/* page 2 right section (game) */
.right-section {
  width: 90vw;
  height: 90vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  gap: 1px;
  height: 90vh;
}

.cell {
  border: 1px solid rgb(0, 0, 0);
}

/* add inventory images tiles */

.container-img-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.2rem;
  width: 70%;
  height: 18%;
  margin: 0 auto;
}

.container-img-button img {
  width: 7%; /* Adjust the width as needed */
  margin-bottom: 10px;
  border: 2px solid rgb(197, 191, 191);
  background-color: rgb(255, 255, 255);
  padding: 0.2rem;
}

.hover:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

/* the numbers in the inventory and tiles */
.inventory-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  align-content: space-between;
  background-color: rgb(218, 218, 226);
  width: 50%;
  height: 10%;
  gap: 0.2%;
  margin-left: 12%;
  margin-bottom: 5rem;
}

.inventory-tiles1 {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.inventory-tiles1:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
